*
!.*
.ICEauthority
.bash_history
.dmrc
.esd_auth
.gtkrc-1.2-gnome2
.history
.ircrc
.lesshst
.post-review-cookies.txt
.pythonhist
.recently-used
.recently-used.xbel
.synergy.conf
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.vimrc.nice
.xsession-errors
.zcompdump
.zshenv
.zshrc_work
