/*
!.*
!.vim/*
.*unversioned
.ICEauthority
.bash_history
.dmrc
.esd_auth
.gtkrc-1.2-gnome2
.history
.ircrc
.lesshst
.post-review-cookies.txt
.pythonhist
.recently-used
.recently-used.xbel
.synergy.conf
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.vimrc.nice
.xsession-errors
.zcompdump
.zshenv
.zshrc_work
.muttrc_unversioned
.gitconfig
.gtk-bookmarks
.mysql_history
.sh_history
.BitchX/
.Trash/
.config/
.eclipse/
.elinks/
.evolution/
.fontconfig/
.fonts/
.gconf/
.gconfd/
.gem/
.gnome/
.gnome2/
.gnupg/
.gstreamer-0.10/
.irc/
.irsh/
.macromedia/
.metacity/
.mozilla/
.mutt/
.nautilus/
.openoffice.org2.0/
.ssh/
.subversion/
.swt/
.terminator/
.terminfo/
.thumbnails/
.vim-tmp/
.adobe/
.zsh/zsh_history
.Licence.txt.swp
.kde/
.mcop/
.mcoprc
.qt/
