/*
!.*
!.vim/*
.*unversioned
.ICEauthority
.bash_history
.dmrc
.esd_auth
.gtkrc-1.2-gnome2
.history
.ircrc
.lesshst
.post-review-cookies.txt
.pythonhist
.recently-used
.recently-used.xbel
.synergy.conf
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.vimrc.nice
.xsession-errors
.zcompdump
.zshenv
.zshrc_work
.muttrc_unversioned
.gitconfig
.gtk-bookmarks
.mysql_history
.sh_history
.BitchX/
.Trash/
.config/
.eclipse/
.elinks/
.evolution/
.fontconfig/
.fonts/
.gconf/
.gconfd/
.gem/
.gnome/
.gnome2/
.gnupg/
.gstreamer-0.10/
.irc/
.irsh/
.macromedia/
.metacity/
.mozilla/
.mutt/
.nautilus/
.openoffice.org2.0/
.ssh/
.subversion/
.swt/
.terminator/
.terminfo/
.thumbnails/
.vim-tmp/
.adobe/
.zsh/zsh_history
.Licence.txt.swp
.kde/
.mcop/
.mcoprc
.qt/
# On branch master
# Untracked files:
#   (use "git add <file>..." to include in what will be committed)
#
.Xauthority
.cache/
.dbus/
.gksu.lock
.gnomerc
.icedtea/
.local/
.mission-control/
.pulse-cookie
.pulse/
.pyhistory
.python_history
.red_history
.sudo_as_admin_successful
.vboxclient-clipboard.pid
.vim/colors/.DS_Store
.vim/colors/.solarized.vim.un~
.vimperator/
.vimrc_copy
.vimrc~
.zsh_history
.zshrc.swp
.VirtualBox/
.awesome-client_history
.bash_logout
.bashrc
.compiz-1/
.compiz/
.count_digital_music_albums_in_us.sql.swp
.etl_job_pdm_coverage.sql.swp
.fehbg
.highest_2356122_products_views.sql.swp
.inputrc
.ipython/
.irssi/
.k5login
.libreoffice/
.matplotlib/
.node_libraries/
.oh-my-zsh/
.picloud/
.profile
.swp
.vdi/
.viminfo.tmp
.weightedsampler.py.swp
.xsel.log
.zsh-update
*.swp
